#bodys{
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}

.header{
    flex: 1;
}

#content{
    margin-left: 70px;
    margin-top: 120px;
    width: 1014px;
    height: calc(100% - 120px - 73px);
    max-height: calc(100% - 120px - 73px);
}

.legal_notice_body{
    width: 100%;
}

.legal_notice_h1{
    font-size: 61px;
}

.pdf{
    height: calc(100% - 120px - 73px);
    width: 100%;
}