body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  position: relative;
}

#body {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.height_100{
  height: 100%;
}

.side_bar {
  width: 232px;
  max-width: 232px;
  height: 100%;
  background-color: #2a3647;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.siede_bar_logo_header {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 43.116379310344827586206896551724;
  height: auto;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 100%;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

.menu {
  width: 100%;
}

.menu_buttons {
  color: white;
  display: flex;
  align-items: center;
  padding-left: 15%;
  transition: background-color 0.3s;
}

.menu_buttons:hover {
  background-color: #091931;
  filter: brightness(1.9);
}

.btn_clicked {
  background-color: #091931 !important;
}

.side_bar_logos_img {
  width: 9.2879256965944272445820433436533;
  padding: 10px 30px 10px 10px;
}

.legal {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav_legal {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.nav_legal_p {
  color: #797d84;
  transition: color 0.3s, transform 0.3s;
}

.nav_legal_p:hover {
  color: #29abe2;
  transform: scale(1.1);
}

.header {
  width: 100%;
}

.header_content_container {
  width: calc(100% - 232px);
  height: 100%;
}


